@charset "utf-8";
/* CSS Document */

body {
background-color: #00314c;
background-repeat: no-repeat;
margin:0;
padding: 0;
}
a{
text-decoration: none;
font-color:#333333;
}
@font-face {
font-family: "Font3";
src: url('../Fonts/silka-regular-webfont.woff2') format('woff2'),
url('../Fonts/silka-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Font4";
src: url('../Fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
url('../Fonts/sourcesanspro-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@media screen and (min-width: 320px){
	#video-intro{
		width: 100%;
		margin: 0;
	}
	#header-jiveacademy{
		width: 50%;
		height: 70px;
	}
	#desc-jiveacademy-titulo p{
		font-size:2.7vw;
	}
	#desc-jiveacademy-subtitulo{
		font-size:1.9vw;
	}
}
@media screen and (min-width: 800px) {
	#video-intro{
		width: 50%;
		margin:auto;
	}
	#header-jiveacademy{
		width:18%;
		height: 70px;
	}
	#desc-jiveacademy-titulo p{
		font-size:1.2vw;
	}
	#desc-jiveacademy-subtitulo{
		font-size:1vw;
	}
}

#home-voltar{
width: auto;
height: 45px;
background:rgba(0, 0, 0, 0.3);
}
#home-voltar-btn{
display: block;
float: left;
padding:5px 0 0 5px;
}
#home-logo{
display: block;
float:right;
margin:3px 5px 0 0;
width: 58px;
height: 34px;
background-image: url("../Imagem-JiveFlix/logo_jive.png");
background-repeat:no-repeat;
background-size: contain;
}
#header{
display: block;
margin-top: 0;
margin-bottom: 0px;
margin-left: auto;
margin-right: auto;
width: 1000px;
}
#header-badget{
display: block;
float:left;
width: 29px;
height: 40px;
margin:20px 0 0 230px;
background-image: url("../Imagem-JiveFlix/medal.png");
}
#header-escola{
display: block;
float:left;
margin-top: 10px;
margin-bottom: 0px;
margin-left: 10px;
margin-right: auto;
}
#header-escola p{
font-family: "Font4";
font-size: 30px;
text-align:left;
color:#FFFFFF;
margin: 15px 0 0 0;
}
#header-jiveacademy{
display: block;
margin-left: auto;
margin-right: auto;
margin-top:1%;
background-image:url("../Imagem-JiveFlix/jiveacademy_logo.png");
background-repeat: no-repeat;
background-size:contain;
background-position: center;
}


#desc-jiveacademy-titulo-bg{
display: block;
margin-left: auto;
margin-right: auto;
margin-top:1%;
background:rgba(0,0,0,0.4);
width: 100%;
height: auto;
}
#desc-jiveacademy-titulo{
display: block;
padding:10px 0 5px 0;
margin-left: auto;
margin-right: auto;
width: 80%;
height: auto;
}
#desc-jiveacademy-titulo p{
font-family:"Font3";
text-align:center;
color:#FFFFFF;
}


#desc-jiveacademy-subtitulo-bg{
display: block;
margin-left: auto;
margin-right: auto;
background:rgba(0,0,0,0.8);
width: 100%;
height: auto;
}
#desc-jiveacademy-subtitulo{
display: block;
padding:10px 0 5px 0;
margin-left: auto;
margin-right: auto;
width: 80%;
height: auto;
}
#desc-jiveacademy-subtitulo p{
font-family:"Font3";
text-align:center;
color:#FFFFFF;
}
#video-intro-bg{
display: block;
margin-left: auto;
margin-right: auto;
background-color: #001d2d;
width: 100%;
height: 300px;
}
#video-intro{
display: block;
margin-left: auto;
margin-right: auto;
width: 576px;
}
#menu-escola-box{
display: block;
width: 100%;
height: 480px;
background-color: #003b5b;
}
#menu-escola{
display: block;
width: 950px;
padding: 30px 0 0 0;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;

}
.fileira-1{
float:left;
width: 202px;
height: 193px;
margin: 0 0 0 30px;
background-image:url("../Imagem-JiveFlix/bloco-apl3.png");
}
.fileira-2{
float:left;
width: 202px;
height: 193px;
margin: 30px 0 30px 30px;
background-image:url("../Imagem-JiveFlix/bloco-apl3.png");
}

.titulo-fileira-1{
font-family: "Font3";
font-size: 14px;
text-align:left;
color:#FFFFFF;
margin: 20px 0 0 10px;
font-weight: bold;
}
.titulo-fileira-1 span{
background-color: #9aca3b;
padding: 0 5px 0 5px;
}
.subtitulo-fileira-1{
font-family: "Font3";
font-size: 11px;
text-align:left;
color:#000000;
margin: 20px 0 0 15px;
}

.botao-saiba-mais{
width: 70px;
height: 28px;
border-width:2px;
border-color: #8eba37;
border-style: solid;
margin: 50px auto 0 auto;
cursor: pointer;
}
.botao-saiba-mais a{
color:#8eba37;
}
.botao-saiba-mais:hover{
transition:all 0.3s ease;
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}

.texto-saiba-mais{
font-family: "Font3";
font-weight: bold;
font-size: 10px;
text-align:center;
color:#8eba37;
margin: 0 0 0 0;
padding-top: 8px;
}

.fade
{
opacity:.8;
}
.fade:hover
{
transition:all 0.3s ease;
opacity:1;
}
#footer-box{
display: block;
width: 100%;
height: 20vh;
background:rgba(1, 21, 32, 0.8);
background-image: url("../Imagem-JiveFlix/logo_circulo_jive2.png");
background-position:right;
background-repeat: no-repeat;
}
#footer-menu-box{
display: block;
float:left;
margin-left:30px;
width: 100%;
}
#footer-1{
display: block;
float:left;
margin:0 0 0 50;
width: 103px;
height: 100px;
background-image: url("../Imagem-JiveFlix/footer-brain.png");
background-repeat:no-repeat;
background-position: center;
}
.footer-menu{
display: block;
float:left;
margin:20px 0 0 10px;
}
.footer-menu p{
font-family: "Font3";
font-size:9px;
color:#FFFFFF;
padding: 6px 0 3px 0;
margin:0;
}
.footer-menu a{
text-decoration: none;
font-family: "Font3";
font-size:9px;
color:#FFFFFF;
text-shadow: 1px 1px #000;
}
.footer-menu a:hover{
text-shadow: none; 
text-decoration-color: #000;
color:#82cb22;
}	
#bg_video{
position: fixed; 
right: 0; 
bottom: 0;
min-width: 100%; 
min-height: 100%;
width: auto; 
height: auto; 
z-index: -1000;
background-size: cover; 
}