@charset "utf-8";
/* CSS Document */

body {
background-color: #00314c;
background-repeat: no-repeat;
margin:0;
padding: 0;
width: 100%;
height: 100%;
}
@font-face {
font-family: "Font3";
src: url('../Fonts/silka-regular-webfont.woff2') format('woff2'),
url('../Fonts/silka-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Font4";
src: url('../Fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
url('../Fonts/sourcesanspro-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
#home-voltar{
width: 100%;
height: 8vh;
min-height: 45px;
background:rgba(0, 0, 0, 0.3);
}
#home-voltar-btn{
display: block;
float: left;
padding:5px 0 0 5px;
}
#home-logo{
display: block;
float:right;
margin:3px 5px 0 0;
width: 58px;
height: 34px;
background-image: url("../Imagem-JiveFlix/logo_jive.png");
background-repeat:no-repeat;
background-size: contain;
}
#header-jiveacademy{
display: block;
margin-left: auto;
margin-right: auto;
margin-top:1%;
width: 20%;
height: auto;
min-width: 250px;
min-height: 75px;
background-image:url("../Imagem-JiveFlix/jiveacademy_logo.png");
background-repeat: no-repeat;
background-size:contain;
background-position: center;
}

#desc-jiveacademy-bg{
display: block;
margin-left: auto;
margin-right: auto;
margin-top:1%;
background:rgba(0,0,0,0.8);
width: 100%;
height: auto;
}
#desc-jiveacademy{
display: block;
padding:10px 0 10px 0;
margin-left: auto;
margin-right: auto;
width: 80%;
height: auto;
}
#desc-jiveacademy p{
font-family:"Font3";
font-size:1vw;
text-align:center;
color:#FFFFFF;
}
#video-intro-bg{
display: block;
background-color: #001d2d;
width: 100%;
padding: 0;
}
#video-intro{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
min-width: 320px;
}
#menu-jive-academy-box{
display: block;
width: 100%;
height: auto;
margin-top: 0;
}
#menu-item-1{
display: block;
width: 100%;
height: auto;
background:rgba(104, 163, 91, 0.7);
border:solid rgba(104, 163, 91, 1);
}

#menu-item-1-titulo{
display: block;
float: left;
text-align: left;
width: 100%;
font-size: 2.5vw;
color:#fff;
font-family: "Font3";
text-shadow: 1px 1px #cccccc;
padding: 0 0 0 10px;
}

#menu-item-2{
display: block;
width: 100%;
height: auto;
background:rgba(0, 169, 137, 0.7);
border:solid rgba(0, 169, 137, 1);
}

#menu-item-2-titulo{
display: block;
float:right;
text-align: right;
width: 100%;
font-size: 2.5vw;
color:#fff;
font-family: "Font3";
text-shadow: 1px 1px #cccccc;
padding: 0 10px 0 0;
}

#menu-item-3{
display: block;
width: 100%;
height: auto;
background:rgba(169, 178, 183, 0.75);
border:solid rgba(169, 178, 183, 1);
padding: 0 0 0 10px;
}

#menu-item-3-titulo{
display: block;
float:left;
text-align: left;
width: 100%;
font-size: 2.5vw;
color:#fff;
font-family: "Font3";
text-shadow: 1px 1px #cccccc;
}

#menu-item-1-subtitulo{
display: block;
text-align: left;
width: 100%;
font-size: 1vw;
color:#fff;
font-family: "Font3";
text-shadow: 1px 1px #333;
padding: 0 0 0 10px;
}

#menu-item-2-subtitulo{
display: block;
text-align:right;
width: 100%;
font-size: 1vw;
color:#fff;
font-family: "Font3";
text-shadow: 1px 1px #333;
padding: 0 50px 0 0;
}

#menu-item-3-subtitulo{
display: block;
text-align: left;
width: 100%;
font-size: 1vw;
color:#fff;
font-family: "Font3";
text-shadow: 1px 1px #333;
padding: 0 0 0 10px;
}

.link-menu{
	text-decoration: none;
	color:#fff;
	font-family: "Font3";
	text-shadow: 1px 1px #cccccc;
}
.link-menu:hover{
	color: #333;
}

.fade
{
opacity:.85;
}
.fade:hover
{
transition:all 0.3s ease;
opacity:1;
}
#footer-box{
display: block;
width: 100%;
height: 18vh;
background:rgba(1, 21, 32, 0.8);
background-image: url("../Imagem-JiveFlix/logo_circulo_jive2.png");
background-position: left;
background-repeat: no-repeat;
}
#footer-menu-box{
display: block;
float:left;
margin:0;
width: 500px;
}
#footer-1{
display: block;
float:left;
margin:0 0 0 180px;
width: 103px;
height: 100px;
background-image: url("../Imagem-JiveFlix/footer-brain.png");
background-repeat:no-repeat;
background-position: center;
}
.footer-menu{
display: block;
float:left;
margin:20px 0 0 15px;
}
.footer-menu p{
font-family: "Font3";
font-size:9px;
color:#FFFFFF;
padding: 6px 0 3px 0;
margin:0;
}
.footer-menu a{
text-decoration: none;
font-family: "Font3";
font-size:9px;
color:#FFFFFF;
text-shadow: 2px 2px black;
}
.footer-menu a:hover{
text-shadow: none; 
text-decoration-color: #FFFFFF;
color:#82cb22;
}	
#bg_video{
position: fixed; 
right: 0; 
bottom: 0;
min-width: 100%; 
min-height: 100%;
width: auto; 
height: auto; 
z-index: -1000;
background-size: cover; 
}