@charset "utf-8";
/* CSS Document */

body {
background-color: #00314b;
}

@font-face {
font-family: "Font3";
src: url("../Fonts/silka-regular-webfont.woff2") format('woff2'),
url("../Fonts/silka-regular-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Font4";
src: url("../Fonts/sourcesanspro-regular-webfont.woff2") format('woff2'),
url("../Fonts/sourcesanspro-regular-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;
}
#bg_video{
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1000;
    background-size: cover; 
}
#header{
display: block;
margin-top: 20px;
margin-bottom: 0px;
margin-left: auto;
margin-right: auto;
width: 420px;
}
#header-intro{
display: block;
margin-top: 22px;
margin-bottom: 0px;
margin-left: auto;
margin-right: auto;
width: 210px;
height: 33px;
background-image:url("../Imagem-JiveFlix/JiveFlix_logo.png");
background-repeat: no-repeat;
background-size:contain;
background-position: center;
}
#header-intro p{
display: block;
padding-top: 40px;
padding-left: 6px;
margin-bottom: 0px;
margin-left: auto;
margin-right: auto;
font-family	:"Font3";
font-size: 9.5px;
color:#CECECE;
text-shadow: 1px 1px #333333;
}
#header-intro span{
padding: 2px;
background-color: #032f48;
}
.grow
{
transition:all 0.3s ease; 
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}
.grow:hover
{
transition:all 0.3s ease; 
-webkit-transform: scale(1.4);
-ms-transform: scale(1.4);
transform: scale(1.4);

}
#menu-principal {
display: block;
overflow: auto;
margin-top: 40px;
margin-left: auto;
margin-right: auto;
width: 90%;
height: 80%;
min-height: 480px;
background-image:url("../Imagem-JiveFlix/Cerebro2.png");
background-repeat: no-repeat;
background-size:contain;
background-position: center;
}
#menu-miolo{
display: block;
width: 50%;
height: 100%;
min-width: 450px;
margin:auto;
}
#lado-esquerdo{
float:left;
display: block;
width: 50%;
height:  50%;
margin: auto;
}
#lado-direito{
float:right;
display: block;
width: 50%;
height:  50%;
margin: auto;
}

#programa1{
display: block;
background-image:url("../Imagem-JiveFlix/fundo_botao.png");
background-repeat: no-repeat;
background-size:contain;
background-position: center;
width: 80%;
height: 40%;
margin-top:20%;
margin-left: 30%;
}
	
#programa2{
display: block;
width: 80%;
height: 40%;
background-image:url("../Imagem-JiveFlix/fundo_botao.png");
background-repeat: no-repeat;
background-size:contain;
background-position: center;
margin-top:18%;
margin-left: 20%;
}
	
#programa3{
display: block;
width: 80%;
height: 40%;
background-image:url("../Imagem-JiveFlix/fundo_botao.png");
background-repeat: no-repeat;
background-size:contain;
background-position: center;
margin-top:10%;
margin-left: 33%;
}
#programa4{
display: block;
overflow: auto;
width: 80%;
height: 40%;
background-image:url("../Imagem-JiveFlix/fundo_botao.png");
background-repeat: no-repeat;
background-size:contain;
background-position: center;
background-color:#413400;
}
#programa5{
display: block;
width: 80%;
height: 40%;
background-image:url("../Imagem-JiveFlix/fundo_botao.png");
background-repeat: no-repeat;
background-size:contain;
background-position: center;
margin-top:75%;
margin-right: 20%;
}
.titulos-intro{
font-family:"Font4";
font-size: calc(10px + 0.075vw);
text-align:center;
color:#9aca3b;
margin: 0 0 0 0;
padding-top: 15%;
}
.titulos-img-intro{
text-align:center;
margin: 0 0 0 0;
padding-top: 15%;
}
#titulos-img-jive-intro{
display: block;
width:35%;
margin:auto;
background-image: url("../Imagem-JiveFlix/jiveacademy_logo.png");
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}
.subtitulos-intro{
font-family:"Font4";
font-size: 8px;
text-align:center;
color:#FFFFFF; 
margin: 0;
padding: 0;
}
.link-menu{
text-decoration: none;
width: 120px;
height: 120px;
}
.grow:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
cursor:pointer;
}
	
.fade-menu
{
transition:all 0.3s ease;
opacity:.8;
}
